@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

:root {
  --primaryColor: #121213;
  --secondaryColor: #565758;
  --white: white;
  --max-width: 500px;
  --key-bg: #808384;
  --inactive-tile: #3a3a3c;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primaryColor);
  color: var(--white);
  height: 100vh;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: var(--max-width);
}

.header {
  height: 50px;
  font-size: 40px;
  font-weight: 900;
  border-bottom: 1px solid var(--secondaryColor);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header div:last-child {
  justify-self: end;
}

.keyboard {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  height: 200px;
  width: var(--max-width);
  gap: 6px;
  padding: 0 13px;
}

.keyboard-row {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.keyboard-key {
  min-width: 42px;
  height: 58px;
  background-color: var(--key-bg);
  border: none;
  border-radius: 4px;
  color: var(--white);
}

.square-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square-grid-row {
  display: flex;
  gap: 6px;
}

.square-grid-element {
  height: 62px;
  width: 62px;
  border: 1px solid var(--inactive-tile);
}