@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

:root {
  --primaryColor: #121213;
  --secondaryColor: #565758;
  --white: white;
  --maxWidth: 500px;
  --keyBg: #808384;
  --inactiveTile: #3a3a3c;
  --activeTile: #565758;
  --wrongColor: #b59f3a;
  --correctColor: #538d4e;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primaryColor);
  color: var(--white);
  height: 100vh;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: var(--maxWidth);
}

.header {
  height: 50px;
  font-size: 40px;
  font-weight: 900;
  border-bottom: 1px solid var(--secondaryColor);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header div:last-child {
  justify-self: end;
}

.keyboard {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  height: 200px;
  width: var(--maxWidth);
  gap: 6px;
  padding: 0 13px;
}

.keyboard-row {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.keyboard-key {
  min-width: 42px;
  height: 58px;
  background-color: var(--keyBg);
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  user-select: none;
}

.keyboard-key.absent {
  background-color: var(--inactiveTile);
}
.keyboard-key.present {
  background-color: var(--wrongColor);
}
.keyboard-key.correct {
  background-color: var(--correctColor);
}

.keyboard-key:focus-visible {
  outline: none;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.square-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square-grid-row {
  display: flex;
  gap: 6px;
}

.square-grid-row.invalid {
  animation-name: Shake;
  animation-duration: 600ms;
}

.square-grid-element {
  height: 62px;
  width: 62px;
  border: 2px solid var(--inactiveTile);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  transform-style: preserve-3d;
  user-select: none;
}

.square-grid-element.active {
  border-color: var(--activeTile);
  animation: popout 100ms ease;
  transition: transform 0.4s;
  transform: rotateX(0deg);
  z-index: 2;
}

.square-grid-element.active.absent {
  background-color: var(--inactiveTile);
  border-color: var(--inactiveTile);
}
.square-grid-element.active.present {
  background-color: var(--wrongColor);
  border-color: var(--wrongColor);
}
.square-grid-element.active.correct {
  background-color: var(--correctColor);
  border-color: var(--correctColor);
}

.game-controls {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.game-controls button {
  background-color: var(--keyBg);
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  user-select: none;
  height: 4rem;
  width: 8rem;
  font-size: 20px;
  padding: 10px;
}


@keyframes popout {
    from{
      transform:scale(0.8);
      border-color: var(--inactiveTile);
      opacity: 0;
    }
    80%{
      transform:scale(1.1);
      border-color: var(--activeTile);
      opacity: 0.8;
    }
    to{
      transform:scale(1);
      border-color: var(--activeTile);
      opacity: 1;
    }
}

@keyframes Shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}